#clockContainer{
    position: relative;
   margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock1.jpg) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    left: 50.1%;
    top: 28%;
    width: 1.6%;
    height: 22%;
    opacity: 0.8;
}
#minute{
    left: 50.29%;
    top: 18%;
    width: 1.4%;
    height: 33%;
    opacity: 0.8; 
}
#second{
    left: 49.2%;
    top: 14%;
    width: 1%;
    height: 37%;
    opacity: 0.8;  
}